# SCM
.git/

# Dependency directories
node_modules/
bower_components/
jspm_packages/

# Docker volumes directories
docker/
.docker/

# Building directories and files
dist/
webpack-stats.json

# Virtual environment
venv/
env/
.venv/
.env/

# DotENV environment variables file
.env
.env.local
.env.production

# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace

# Byte-compiled / optimized / DLL files
**/__pycache__/*
**/*.py[cod]

# Log files
**.log

# Config directories
.config/
.ansible/
config/
ansible/
